server:
  port: 8083
  
spring:
  application:
    name: RATING-SERVICE
  data:
    mongodb:
      uri: mongodb://localhost:27017
      database: Ratingmicroservices
      
  #User for get the configuration from the configuration server 
  config:
    import: optional:configserver:http://localhost:8085/
   
#eureka:
#  instance:
#    prefer-ip-address: true
#  client:
#    fetch-registry: true
#    register-with-eureka: true
#    service-url:
#        defaultZone: http://localhost:8761/eureka


#Okta Spring Security Configuration
okta:
  oauth2:
    issuer: https://dev-11076645.okta.com/oauth2/default
    audience: api://default